# Implementing ETL Pipeline Using SQLAlchemy

SQLAlchemy is a Python module that allows data engineers and developers to define schemas, write queries, and manipulate SQL databases entirely through Python. SQLAlchemy’s Object Relational Mapper (ORM) and Expression Language functionalities allowing us to associate Python classes and constructs with data tables and expressions.

For this project, I will be extracting data from two different mock APIs which are:
- [Random User Generator](https://randomuser.me/) - to get user profiles data
- [JSONPlaceholder](https://jsonplaceholder.typicode.com/) - to get albums and photos data

The extracted data will be in JSON format, which will be transformed into a flat format that can be safely written to the database without error.

It will then be loaded into its database which is `gallery.db`. This database should contain three tables: **users, albums, photos** <br><br>

![Entity Relation Diagram](entity-relation-diagram.png)
<p style="text-align: center;"><i>Entity Relation Diagram for Photo Gallery database</i></p><br>

## Defining a database schema
A database schema defines the structure of a database system, in terms of tables, columns, fields, and the relationships between them. Schemas can be defined in raw SQL, or through the use of SQLAlchemy’s ORM feature.

In [1]:
# Install sqlalchemy
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)

In [2]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql import *

engine = create_engine('sqlite:///gallery.db')

Base = declarative_base()

class Users(Base):
    __tablename__ = "users"
    UserId = Column(Integer, primary_key=True)
    Title = Column(String)
    FirstName = Column(String)
    LastName = Column(String)
    Email = Column(String)
    Username = Column(String)
    DOB = Column(DateTime)
    
class Albums(Base):
    __tablename__="albums"
    AlbumId = Column(Integer, primary_key=True)
    UserId = Column(Integer)
    Title = Column(String)
    
class Photos(Base):
    __tablename__="photos"
    PhotoId = Column(Integer, primary_key=True)
    AlbumId = Column(Integer)
    Title = Column(String)
    Url = Column(String)
    
Users.__table__.create(bind=engine, checkfirst=True)
Albums.__table__.create(bind=engine, checkfirst=True)
Photos.__table__.create(bind=engine, checkfirst=True)

## Extract

Once the schema has been defined, the next task is to extract the raw data from its source.
The **Users** table will be populated with profiles randomly generated at `randomuser.me`, while the **Albums** and **Photos** table will contain data courtesy of JSONPlaceholder.

Python’s `Requests` module is used to call these APIs.

In [3]:
import requests

url = 'https://randomuser.me/api/?results=10'
users_json = requests.get(url).json()

url2 = 'https://jsonplaceholder.typicode.com/albums/'
albums_json = requests.get(url2).json()

url3 = 'https://jsonplaceholder.typicode.com/photos/'
photos_json = requests.get(url3).json()

In [4]:
import pprint
pprint.pprint(users_json)

{'info': {'page': 1,
          'results': 10,
          'seed': 'da82295f31b344a3',
          'version': '1.3'},
 'results': [{'cell': '(69) 1141-3075',
              'dob': {'age': 70, 'date': '1951-05-05T04:03:23.515Z'},
              'email': 'benta.barros@example.com',
              'gender': 'female',
              'id': {'name': '', 'value': None},
              'location': {'city': 'Várzea Paulista',
                           'coordinates': {'latitude': '-72.4530',
                                           'longitude': '107.8648'},
                           'country': 'Brazil',
                           'postcode': 77002,
                           'state': 'Rondônia',
                           'street': {'name': 'Rua Doze ', 'number': 2256},
                           'timezone': {'description': 'Brazil, Buenos Aires, '
                                                       'Georgetown',
                                        'offset': '-3:00'}},
              'login': {'md5': '05e16726af91f81c6ffd8be5d3e65660',
                        'password': 'beater',
                        'salt': 'w08ggsqr',
                        'sha1': 'ad9701705f198d9f5d37eadb73bf7fad9f4c24ac',
                        'sha256': '0db632fec552375d8989bc00c3b928933c115d513d13d060cc47c3054eecf2a1',
                        'username': 'smallmouse460',
                        'uuid': '119535fc-b5ff-4114-841d-961af7c39008'},
              'name': {'first': 'Benta', 'last': 'Barros', 'title': 'Mrs'},
              'nat': 'BR',
              'phone': '(48) 2500-5608',
              'picture': {'large': 'https://randomuser.me/api/portraits/women/93.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/women/93.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/93.jpg'},
              'registered': {'age': 7, 'date': '2014-02-19T06:59:41.499Z'}},
             {'cell': '0175-3970651',
              'dob': {'age': 25, 'date': '1996-05-20T10:38:44.917Z'},
              'email': 'miroslaw.weidmann@example.com',
              'gender': 'male',
              'id': {'name': '', 'value': None},
              'location': {'city': 'Dietzenbach',
                           'coordinates': {'latitude': '21.0443',
                                           'longitude': '-149.2836'},
                           'country': 'Germany',
                           'postcode': 65177,
                           'state': 'Baden-Württemberg',
                           'street': {'name': 'Buchenweg', 'number': 2683},
                           'timezone': {'description': 'Eniwetok, Kwajalein',
                                        'offset': '-12:00'}},
              'login': {'md5': '73400fca4a2a45849573e7deb98541b3',
                        'password': 'nextel',
                        'salt': 'xW40zjiJ',
                        'sha1': 'abd1a12a6913c87194a05e84d08c4128e25371bb',
                        'sha256': 'af68c63152e602fb3c943b23057888f634dd3e6f16ad2692bd5b111917d8f480',
                        'username': 'blueduck690',
                        'uuid': 'd9e12715-0b84-46be-8423-096cef6229a3'},
              'name': {'first': 'Miroslaw', 'last': 'Weidmann', 'title': 'Mr'},
              'nat': 'DE',
              'phone': '0005-5241621',
              'picture': {'large': 'https://randomuser.me/api/portraits/men/75.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/men/75.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/75.jpg'},
              'registered': {'age': 10, 'date': '2011-05-03T19:57:37.972Z'}},
             {'cell': '93551070',
              'dob': {'age': 34, 'date': '1987-01-03T00:19:37.330Z'},
              'email': 'nicoline.mortensen@example.com',
              'gender': 'female',
              'id': {'name': 'CPR', 'value': '030187-5236'},
              'location': {'city': 'Ryslinge',
                           'coordinates': {'latitude': '-54.9593',
                                           'longitude': '56.3200'},
                           'country': 'Denmark',
                           'postcode': 39993,
                           'state': 'Nordjylland',
                           'street': {'name': 'Søgade', 'number': 3847},
                           'timezone': {'description': 'Abu Dhabi, Muscat, '
                                                       'Baku, Tbilisi',
                                        'offset': '+4:00'}},
              'login': {'md5': 'fd676b5b5037d648ff40a208bf666331',
                        'password': 'isabella',
                        'salt': '4laOHg41',
                        'sha1': 'f559e31da67d7657fe70a87f14625d8dc7eb7673',
                        'sha256': 'd66442179b14fcd52e3b8b9bebb1823b72a1ed4bdeccff04680fc826a272fd9e',
                        'username': 'bigbird669',
                        'uuid': 'f8c11893-71a4-4285-bc1a-8248b86a6da9'},
              'name': {'first': 'Nicoline',
                       'last': 'Mortensen',
                       'title': 'Mrs'},
              'nat': 'DK',
              'phone': '45138957',
              'picture': {'large': 'https://randomuser.me/api/portraits/women/8.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/women/8.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/8.jpg'},
              'registered': {'age': 4, 'date': '2017-02-23T07:39:13.581Z'}},
             {'cell': '37561293',
              'dob': {'age': 51, 'date': '1970-02-20T08:39:04.221Z'},
              'email': 'filippa.poulsen@example.com',
              'gender': 'female',
              'id': {'name': 'CPR', 'value': '200270-5914'},
              'location': {'city': 'Stokkemarke',
                           'coordinates': {'latitude': '-30.0132',
                                           'longitude': '139.8373'},
                           'country': 'Denmark',
                           'postcode': 50744,
                           'state': 'Danmark',
                           'street': {'name': 'Brorsonsvej', 'number': 71},
                           'timezone': {'description': 'Western Europe Time, '
                                                       'London, Lisbon, '
                                                       'Casablanca',
                                        'offset': '0:00'}},
              'login': {'md5': 'f1104ba4e8e2fa9a4004ed7227b3afca',
                        'password': 'sixsix',
                        'salt': 'rNRvhXeN',
                        'sha1': '3504eef5eec971204c469887c5b76fe8ded37254',
                        'sha256': '0f7f4411bd85b560adc86f3348447ce7b9a3d8492492225858ee3efd6e254a7c',
                        'username': 'heavywolf486',
                        'uuid': '20a81ed7-11ac-4d16-825e-f8cf58921c08'},
              'name': {'first': 'Filippa', 'last': 'Poulsen', 'title': 'Mrs'},
              'nat': 'DK',
              'phone': '87549498',
              'picture': {'large': 'https://randomuser.me/api/portraits/women/91.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/women/91.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/91.jpg'},
              'registered': {'age': 11, 'date': '2010-06-24T15:53:11.105Z'}},
             {'cell': '702-803-9703',
              'dob': {'age': 67, 'date': '1954-08-28T07:40:56.157Z'},
              'email': 'camille.chow@example.com',
              'gender': 'female',
              'id': {'name': '', 'value': None},
              'location': {'city': 'Westport',
                           'coordinates': {'latitude': '-52.4362',
                                           'longitude': '-47.4635'},
                           'country': 'Canada',
                           'postcode': 'J6E 6V0',
                           'state': 'Nunavut',
                           'street': {'name': 'Main St', 'number': 991},
                           'timezone': {'description': 'Adelaide, Darwin',
                                        'offset': '+9:30'}},
              'login': {'md5': 'bbe07060a38024199da8353585e181b8',
                        'password': '1103',
                        'salt': 'hJRMJ4ig',
                        'sha1': 'c71c826cd442af6ab7d458da5f5e8a09350ef9aa',
                        'sha256': 'a71615c3a615fe436c7831ed507c0ec0f207e1da6b12257fb08a7ee061287e4e',
                        'username': 'beautifulleopard910',
                        'uuid': 'a4b4c970-1d27-44ab-91c1-ad7f677fdb87'},
              'name': {'first': 'Camille', 'last': 'Chow', 'title': 'Mrs'},
              'nat': 'CA',
              'phone': '938-134-2259',
              'picture': {'large': 'https://randomuser.me/api/portraits/women/78.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/women/78.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/78.jpg'},
              'registered': {'age': 12, 'date': '2009-01-12T15:44:44.463Z'}},
             {'cell': '075 948 46 09',
              'dob': {'age': 75, 'date': '1946-04-20T23:46:23.550Z'},
              'email': 'aaron.simon@example.com',
              'gender': 'male',
              'id': {'name': 'AVS', 'value': '756.2876.9568.09'},
              'location': {'city': 'Épalinges',
                           'coordinates': {'latitude': '72.8972',
                                           'longitude': '-34.2948'},
                           'country': 'Switzerland',
                           'postcode': 3440,
                           'state': 'Nidwalden',
                           'street': {'name': 'Rue de la Mairie',
                                      'number': 510},
                           'timezone': {'description': 'Atlantic Time '
                                                       '(Canada), Caracas, La '
                                                       'Paz',
                                        'offset': '-4:00'}},
              'login': {'md5': '2ec74d182b6d96ada3d63647467f8b02',
                        'password': 'watcher',
                        'salt': 'SjPVV4q5',
                        'sha1': '857dd8e3873dc5fcd0dc91014b5df54dff627dc4',
                        'sha256': 'dff89c6bb571b86f474899dc65bb9ed9fbbaecdbdde2a8f6f83316f5ed5d8a38',
                        'username': 'ticklishrabbit384',
                        'uuid': 'fd5c9a23-f59f-4272-b428-e19f9519ba9e'},
              'name': {'first': 'Aaron', 'last': 'Simon', 'title': 'Monsieur'},
              'nat': 'CH',
              'phone': '077 307 26 69',
              'picture': {'large': 'https://randomuser.me/api/portraits/men/98.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/men/98.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/98.jpg'},
              'registered': {'age': 12, 'date': '2009-07-17T18:09:31.566Z'}},
             {'cell': '489-800-2487',
              'dob': {'age': 70, 'date': '1951-12-24T15:19:22.268Z'},
              'email': 'james.abraham@example.com',
              'gender': 'male',
              'id': {'name': '', 'value': None},
              'location': {'city': 'Glenwood',
                           'coordinates': {'latitude': '-65.0835',
                                           'longitude': '-143.8507'},
                           'country': 'Canada',
                           'postcode': 'D2R 8B6',
                           'state': 'Ontario',
                           'street': {'name': 'Brock Rd', 'number': 6445},
                           'timezone': {'description': 'Eastern Time (US & '
                                                       'Canada), Bogota, Lima',
                                        'offset': '-5:00'}},
              'login': {'md5': '7d2d587ee811d679e4e7df8eeb83e71a',
                        'password': 'yoda',
                        'salt': 'klUHXKee',
                        'sha1': '0e55013013c452aa58eaa126fdc9846f59d52047',
                        'sha256': '0c3d080692efc5baf015f3f1d446055acdf414f64b6e44454af12ad472b1036a',
                        'username': 'whiteostrich169',
                        'uuid': '008e26ce-5d26-4733-8ec0-3d05fb055a39'},
              'name': {'first': 'James', 'last': 'Abraham', 'title': 'Mr'},
              'nat': 'CA',
              'phone': '259-300-1159',
              'picture': {'large': 'https://randomuser.me/api/portraits/men/1.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/men/1.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/1.jpg'},
              'registered': {'age': 17, 'date': '2004-12-19T02:14:04.486Z'}},
             {'cell': '0755-582-789',
              'dob': {'age': 42, 'date': '1979-11-20T16:12:58.237Z'},
              'email': 'fernando.macrae@example.com',
              'gender': 'male',
              'id': {'name': 'NINO', 'value': 'MB 73 04 68 D'},
              'location': {'city': 'Stirling',
                           'coordinates': {'latitude': '55.4986',
                                           'longitude': '-144.2236'},
                           'country': 'United Kingdom',
                           'postcode': 'I56 2TG',
                           'state': 'Suffolk',
                           'street': {'name': 'Grange Road', 'number': 2207},
                           'timezone': {'description': 'Brussels, Copenhagen, '
                                                       'Madrid, Paris',
                                        'offset': '+1:00'}},
              'login': {'md5': '7768a66a886400652713dacb4bbdf8bb',
                        'password': 'coldbeer',
                        'salt': 'Ln9Tn0i6',
                        'sha1': '2ee0305b9bf64f5db3b5f3053a116ae3279a46b3',
                        'sha256': '83f8897abdb53ef429b41cd809b4915c8044ca939fc2e4a4eff2313730dbee2a',
                        'username': 'crazysnake348',
                        'uuid': '360f40a4-89b2-4acc-a4ef-dc506f4850b3'},
              'name': {'first': 'Fernando', 'last': 'Macrae', 'title': 'Mr'},
              'nat': 'GB',
              'phone': '016977 83623',
              'picture': {'large': 'https://randomuser.me/api/portraits/men/23.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/men/23.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/23.jpg'},
              'registered': {'age': 18, 'date': '2003-08-06T11:46:30.131Z'}},
             {'cell': '90757997',
              'dob': {'age': 66, 'date': '1955-12-26T00:23:31.679Z'},
              'email': 'maximillian.heggen@example.com',
              'gender': 'male',
              'id': {'name': 'FN', 'value': '26125525538'},
              'location': {'city': 'Florø',
                           'coordinates': {'latitude': '34.3906',
                                           'longitude': '57.6965'},
                           'country': 'Norway',
                           'postcode': '4168',
                           'state': 'Hedmark',
                           'street': {'name': 'Stensberggata', 'number': 177},
                           'timezone': {'description': 'Kaliningrad, South '
                                                       'Africa',
                                        'offset': '+2:00'}},
              'login': {'md5': '6317cf6740ffc1288f97a27ab175212b',
                        'password': 'schmidt',
                        'salt': 'hjQiv8Yh',
                        'sha1': 'c4c38a96b5ae6380a2ea31f5fae1e5e17c213812',
                        'sha256': '7420d25df9ca7118e012c7f75cec99cba1070413b2676b374e6df1d2616b3b0f',
                        'username': 'sadkoala521',
                        'uuid': 'f0f7c6a1-f4dc-4af8-9d1f-22704a35a423'},
              'name': {'first': 'Maximillian', 'last': 'Heggen', 'title': 'Mr'},
              'nat': 'NO',
              'phone': '35538881',
              'picture': {'large': 'https://randomuser.me/api/portraits/men/52.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/men/52.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/52.jpg'},
              'registered': {'age': 14, 'date': '2007-06-26T19:20:16.977Z'}},
             {'cell': '637-578-673',
              'dob': {'age': 53, 'date': '1968-03-23T13:18:17.164Z'},
              'email': 'rocio.leon@example.com',
              'gender': 'female',
              'id': {'name': 'DNI', 'value': '55810496-M'},
              'location': {'city': 'Cuenca',
                           'coordinates': {'latitude': '44.1008',
                                           'longitude': '12.9893'},
                           'country': 'Spain',
                           'postcode': 27031,
                           'state': 'Castilla la Mancha',
                           'street': {'name': 'Avenida del Planetario',
                                      'number': 7776},
                           'timezone': {'description': 'Azores, Cape Verde '
                                                       'Islands',
                                        'offset': '-1:00'}},
              'login': {'md5': '44d0103d5c18419660b59d243214c854',
                        'password': 'sanford',
                        'salt': '70BtuKhl',
                        'sha1': 'df695102933a9d71e076a8aec1cc85ffdf1ac8fa',
                        'sha256': '2bddb85c46da68edcc7caf7127d78cc63c73e97a8c5355f98fd338dc5878e1dc',
                        'username': 'organiczebra872',
                        'uuid': 'c911ffa1-2204-49f5-9121-8f7ded0047db'},
              'name': {'first': 'Rocio', 'last': 'Leon', 'title': 'Ms'},
              'nat': 'ES',
              'phone': '983-554-223',
              'picture': {'large': 'https://randomuser.me/api/portraits/women/87.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/women/87.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/87.jpg'},
              'registered': {'age': 19, 'date': '2002-06-24T00:35:17.815Z'}}]}

In [ ]:
#pprint.pprint(albums_json)

In [ ]:
#pprint.pprint(photos_json)

The data is currently held in three objects (`users_json`,`albums_json`, and `photos_json`) in JSON format. The next step will be to transform and load this data into the tables defined earlier.

## Transform

Transform the data from its current nested JSON format to a flat format that can be safely written to the database without error.
The code below creates three lists, `users`,`albums` and `photos`, which will be used in the final step:

In [5]:
from datetime import datetime, timedelta
import dateutil.parser

users, albums, photos = [],[],[]

for i, result in enumerate(users_json['results']):
    row = {}
    row['UserId'] = i
    row['Title'] = result['name']['title']
    row['FirstName'] = result['name']['first']
    row['LastName'] = result['name']['last']
    row['Email'] = result['email']
    row['Username'] = result['login']['username']
    d = dateutil.parser.parse(result['dob']['date'])
    dob = d.strftime('%Y-%m-%d %H:%M:&S')
    dob = datetime.strptime(dob, '%Y-%m-%d %H:%M:&S' )
    row['DOB']=dob
    users.append(row)

for result in albums_json:
    row = {}
    row['AlbumId'] = result['id']
    row['UserId'] = result['userId']
    row['Title'] = result['title']
    albums.append(row)
    
for result in photos_json:
    row = {}
    row['PhotoId'] = result['id']
    row['AlbumId'] = result['albumId']
    row['Title'] = result['title']
    row['Url'] = result['url']
    photos.append(row)

In [6]:
print(users)

[{'UserId': 0, 'Title': 'Mrs', 'FirstName': 'Benta', 'LastName': 'Barros', 'Email': 'benta.barros@example.com', 'Username': 'smallmouse460', 'DOB': datetime.datetime(1951, 5, 5, 4, 3)}, {'UserId': 1, 'Title': 'Mr', 'FirstName': 'Miroslaw', 'LastName': 'Weidmann', 'Email': 'miroslaw.weidmann@example.com', 'Username': 'blueduck690', 'DOB': datetime.datetime(1996, 5, 20, 10, 38)}, {'UserId': 2, 'Title': 'Mrs', 'FirstName': 'Nicoline', 'LastName': 'Mortensen', 'Email': 'nicoline.mortensen@example.com', 'Username': 'bigbird669', 'DOB': datetime.datetime(1987, 1, 3, 0, 19)}, {'UserId': 3, 'Title': 'Mrs', 'FirstName': 'Filippa', 'LastName': 'Poulsen', 'Email': 'filippa.poulsen@example.com', 'Username': 'heavywolf486', 'DOB': datetime.datetime(1970, 2, 20, 8, 39)}, {'UserId': 4, 'Title': 'Mrs', 'FirstName': 'Camille', 'LastName': 'Chow', 'Email': 'camille.chow@example.com', 'Username': 'beautifulleopard910', 'DOB': datetime.datetime(1954, 8, 28, 7, 40)}, {'UserId': 5, 'Title': 'Monsieur', 'FirstName': 'Aaron', 'LastName': 'Simon', 'Email': 'aaron.simon@example.com', 'Username': 'ticklishrabbit384', 'DOB': datetime.datetime(1946, 4, 20, 23, 46)}, {'UserId': 6, 'Title': 'Mr', 'FirstName': 'James', 'LastName': 'Abraham', 'Email': 'james.abraham@example.com', 'Username': 'whiteostrich169', 'DOB': datetime.datetime(1951, 12, 24, 15, 19)}, {'UserId': 7, 'Title': 'Mr', 'FirstName': 'Fernando', 'LastName': 'Macrae', 'Email': 'fernando.macrae@example.com', 'Username': 'crazysnake348', 'DOB': datetime.datetime(1979, 11, 20, 16, 12)}, {'UserId': 8, 'Title': 'Mr', 'FirstName': 'Maximillian', 'LastName': 'Heggen', 'Email': 'maximillian.heggen@example.com', 'Username': 'sadkoala521', 'DOB': datetime.datetime(1955, 12, 26, 0, 23)}, {'UserId': 9, 'Title': 'Ms', 'FirstName': 'Rocio', 'LastName': 'Leon', 'Email': 'rocio.leon@example.com', 'Username': 'organiczebra872', 'DOB': datetime.datetime(1968, 3, 23, 13, 18)}]

In [ ]:
#print(albums)

In [ ]:
#print(photos)

## Load

Finally, the data is in a form that can be loaded into the database. SQLAlchemy makes this step straightforward through its Session API.
The code below creates a new session object, adds rows to it, then merges and commits them to the database:

In [7]:
Session = sessionmaker(bind=engine)

session = Session()  

for user in users:
    row = Users(**user)
    session.add(row)
    
for album in albums:
    row = Albums(**album)
    session.add(row)
    
for photo in photos:
    row = Photos(**photo)
    session.add(row)
    
session.commit()

## Check existing tables in database

In [8]:
%load_ext sql
%sql sqlite:///gallery.db

In [9]:
%sql SELECT count(*) FROM users;

 * sqlite:///gallery.db
Done.

[(10,)]

In [10]:
%sql SELECT * FROM users LIMIT 5;

 * sqlite:///gallery.db
Done.

[(0, 'Mrs', 'Benta', 'Barros', 'benta.barros@example.com', 'smallmouse460', '1951-05-05 04:03:00.000000'),
 (1, 'Mr', 'Miroslaw', 'Weidmann', 'miroslaw.weidmann@example.com', 'blueduck690', '1996-05-20 10:38:00.000000'),
 (2, 'Mrs', 'Nicoline', 'Mortensen', 'nicoline.mortensen@example.com', 'bigbird669', '1987-01-03 00:19:00.000000'),
 (3, 'Mrs', 'Filippa', 'Poulsen', 'filippa.poulsen@example.com', 'heavywolf486', '1970-02-20 08:39:00.000000'),
 (4, 'Mrs', 'Camille', 'Chow', 'camille.chow@example.com', 'beautifulleopard910', '1954-08-28 07:40:00.000000')]

In [11]:
%sql SELECT count(*) FROM albums;

 * sqlite:///gallery.db
Done.

[(100,)]

In [12]:
%sql SELECT * FROM albums LIMIT 5;

 * sqlite:///gallery.db
Done.

[(1, 1, 'quidem molestiae enim'),
 (2, 1, 'sunt qui excepturi placeat culpa'),
 (3, 1, 'omnis laborum odio'),
 (4, 1, 'non esse culpa molestiae omnis sed optio'),
 (5, 1, 'eaque aut omnis a')]

In [13]:
%sql SELECT count(*) FROM photos;

 * sqlite:///gallery.db
Done.

[(5000,)]

In [14]:
%sql SELECT * FROM photos LIMIT 5;

 * sqlite:///gallery.db
Done.

[(1, 1, 'accusamus beatae ad facilis cum similique qui sunt', 'https://via.placeholder.com/600/92c952'),
 (2, 1, 'reprehenderit est deserunt velit ipsam', 'https://via.placeholder.com/600/771796'),
 (3, 1, 'officia porro iure quia iusto qui ipsa ut modi', 'https://via.placeholder.com/600/24f355'),
 (4, 1, 'culpa odio esse rerum omnis laboriosam voluptate repudiandae', 'https://via.placeholder.com/600/d32776'),
 (5, 1, 'natus nisi omnis corporis facere molestiae rerum in', 'https://via.placeholder.com/600/f66b97')]

The End.